@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

:root {
  --primary: #ff4500;
  --support: #45ecec;
  --gold: #ffd700;
  --dark: #111;
  --light: #fffcfa;
  --grey-1: #333;
  --grey-2: #999;
  --transition: all 0.5s ease-in-out;
}

.logo {
  font-family: 'Loved by the King', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

.title {
  text-transform: uppercase;
  color: var(--primary) !important;
  font-weight: 500 !important;
}

.banner {
  margin: 50px;
}

.columns.products {
  flex-wrap: wrap;
}

label {
  font-weight: 400 !important;
}

input {
  box-shadow: none !important;
  border: 1px solid var(--grey-2) !important;
  transition: var(--transition);
}

input[type="file"] {
  width: 100%;
  font-family: inherit;
  color: var(--dark);
  border: none;
  border-radius: 4px;
}

input[type="file"]::file-selector-button {
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: transparent;
  color: var(--dark);
  padding: 10px 20px;
  cursor: pointer;
  transition: var(--transition);
}

input[type="file"]::file-selector-button:hover {
  color: var(--primary);
}

input:focus,
input:active,
input[type="file"]:focus,
input[type="file"]:active {
  border: 1px solid var(--grey-1) !important;
}

.main-btn {
  color: var(--light) !important;
  background-color: var(--primary);
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: var(--transition);
}

.main-btn:hover {
  background-color: var(--dark);
}

.navbar ul.social {
  display: flex;
}

.navbar ul.social li {
  margin-right: 20px;
}

.navbar ul.social li a {
  color: var(--light);
}

.navbar-bottom.navbar {
  align-items: center;
}

.navbar-top.navbar {
  background-color: var(--dark);
}

.navbar-buttons {
  display: flex;
}

.navbar-top .container.navbar-container,
.navbar-bottom .container.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.linker {
  color: var(--dark);
  text-transform: uppercase;
  transition: var(--transition);
}

.linker:hover {
  color: var(--primary);
}

#cart h3 {
  margin-top: 50px;
}

#cart .cart-item {
  margin-bottom: 10px;
  padding: 20px;
}

.card-footer-item i {
  margin-right: 10px;
}

.product-card .card-footer {
  justify-content: center;
}

.product-card .card-footer form {
  display: block;
  width: 100%;
}

.admin > div.container {
  margin: 40px 10%;
}

.admin .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin table {
  width: 100%;
}

.admin table th:first-of-type {
  width: 50%;
}

.admin table td:first-of-type {
  width: 50%;
}

.admin table td {
  vertical-align: middle;
}

.product-card .card-footer button {
  border: none;
  width: 100%;
  height: 50px;
}

.product-card .card-footer button i {
  margin-right: 10px;
}

#cart .cart-item h3 {
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  position: relative;
}

.quantity:before {
  content: '#';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--grey-1);
}

.cart-right .field {
  margin-bottom: 0 !important;
}

.cart-right {
  display: flex;
  align-items: center;
}

form p {
  margin-top: 10px;
}
