@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

:root {
  --primary: #ff4500;
  --support: #45ecec;
  --dark: #111;
  --light: #fffcfa;
  --grey: #333;
}

.navbar ul.social {
  display: flex;
}

.navbar ul.social li {
  margin-right: 20px;
}

.navbar ul.social li a {
  color: var(--light);
}

.banner {
  margin: 50px;
}

.column.products {
  flex-wrap: wrap;
}

.column-footer-item i {
  margin-right: 10px;
}

.navbar-bottom.navbar {
  align-items: center;
}

.navbar-top.navbar {
  background-color: var(--dark);
}

.navbar-buttons {
  display: flex;
}

.navbar-top .container.navbar-container,
.navbar-bottom .container.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

#cart h3 {
  margin-top: 50px
}